<footer>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
     <h3>
       Contact
     </h3>
     <address>
       <strong>Bent Whisker Ranch, LLC</strong>
       <br>7540 Harper Rd.
       <br>Joelton, TN 37080
       <br><abbr title="Phone">Ph:</abbr> +1 615 873 0108
     </address>
    </div>
    <div class="col-xs-12 col-sm-8 align-self-center">
      <p class="small">Bent Whisker Ranch is organized exclusively for charitable, religious, educational, and scientific purposes, including, for such purposes, the making of distributions to organizations that quality as exempt organizations described under Section 501c(3) of the Internal Revenue Code, or corresponding section of any future federal tax code.
      </p>
    </div>
    <div class="col-xs-6 col-sm-1 align-self-center">
      <a href="https://www.facebook.com/BentWhiskerRanch/"><img class="social-b" src="assets/flogo_RGB_HEX-114.svg" style=" "></a>   
    
      <a href="https://www.instagram.com/bentwhiskerranch/" class="social-b"><img src="assets/img/instagram-glyph-1.svg" class="none-i"></a>
    </div>
  </div>
</footer>