<div class="container main-container">
  <div class="row">
    
      <a name="dove">
      <h1>Please adopt me!</h1></a>
  </div>
  <article class="row">
    <div class="col-xs-12 col-md-8">
      <p>
        Dove and her brother, Dante came from an animal-hoarding situation in Cocke County, TN. <a href="/successes#dante">Dante</a> was adopted almost 24 hours after his rescue! Now Dove is waiting for her forever home.
      </p>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="">
        <img src="assets/img/dove-model.jpeg" class="img-fluid float-right normal" alt="Dove">
      </div>

    </div>
  </article>

  <div class="row">
    <a name="mayhem">
    <h2 class="">Cuddle buddy!</h2></a>
  </div>

  <article class="row">
    <div class="col-xs-12 col-md-8">
      <p>
        When Chip and his brother, Chuck, were pulled from a local shelter (as part of a large group surrendered), they were very sick with an upper-respiratory infection so they went straight to the vet for medication. Chip is very healthy now and is perhaps most-known for his purrs: loud, happy and content!
        </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="assets/img/mayhem-chip-easter.jpeg" class="img-fluid float-right normal" alt="mayhem chip easter">
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="assets/img/mayhem-jail.JPG" class="img-fluid float-right normal" alt="mayhem jail">
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="assets/img/mayhem-window.jpg" class="img-fluid float-right normal" alt="mayhem window">
    </div>
  </article>


</div>