<div class="container-fluid">
  
  <div class="row">
    <h1 class="offset-sm-1 col-xs-12 col-sm-8 col-md-7">About the Bent Whisker Ranch</h1>
    <article class="offset-sm-1 col-xs-12 col-sm-8 col-md-7">
      <p>Our missing is to rescue animals from harmful, neglectful, and lonely situations; foster and nurture them into happiness and self-confidence; and place them in loving, responsible permanent homes. We are also committed to educating others about animal welfare issues, including the need to spay and neuter companion animals.</p>
      <p>We've always loved helping animals and decided to make an official organization. Bent Whisker Ranch was found April 2018 and we are so proud and honored that is happened (filling out all the forms was quite the challenge!). We work full-time so aren't (at this time) able to take in as many animlas as we'd like, bur for each animal we do take in and find a forecver home for, it sure does matter. </p>
    </article>
  </div>
</div>
<div class="row">
  <section class="offset-sm-1 col-md-8 mt-2">
    <h2>FY 2020 Statistics/Financials</h2>
    <div class=table-responsive>
      <table class="table">
        <thead class="thead-dark">
          <tr></tr>
        </thead>
        <tbody>
          <tr>
            <td>$ out (adoption fees, donations, etc)</td>
            <td>$2,822.97</td>
          </tr>
          <tr>
            <td>$ out</td>
            <td>$3,814,50</td>
          </tr>

        </tbody>
        
      </table>
      <table class="table table-hover">
        <th class="thead-dark">
          <tr>
            <th scope="col">Cats taken in/adopted out</th>
          </tr>
        </th>
        <tbody>
          <tr>
            <th scope="col">Intake Date</th>
            <th scope="col">Name</th>
            <th scope="col">Source</th>
            <th scope="col">Notes</th>
          </tr>
          <tr>
            <td>1/31/2020</td>
            <td>Brody</td>
            <td>Robertson County Animal Shelter</td>
            <td>adopted 6/2/20</td>
          </tr>
          <tr>
            <td>2/15/2020</td>
            <td>Iggy</td>
            <td>Owner</td>
            <td>adopted 7/19/20</td>
          </tr>
          <tr>
            <td>3/7/2020</td>
            <td>Boots</td>
            <td>Roberston County Animal Shelter</td>
            <td>adopted 7/30/20</td>
          </tr>
          <tr>
            <td>Russell</td>
            <td>Robertson County Animal Shelter</td>
            <td></td>
          </tr>
          <tr>
            <td>6/18/2020</td>
            <td>Chester</td>
            <td>Robertson County Animal Shelter</td>
            <td>adopted 7/27/20</td>
          </tr>
          <tr>
            <td>8/22/2020</td>
            <td>Mary Cotton</td>
            <td>Caregiver</td>
            <td></td>
          </tr>
          <tr>
            <td>8/22/2020</td>
            <td>Flannery Flame</td>
            <td>Caregiver</td>
            <td></td>
          </tr>
          <tr>
            <td>10/25/2020</td>
            <td>Geist</td>
            <td>Rescuer</td>
            <td>adopted 10/31/20</td>
          </tr>
          <tr>
            <td>11/3/2020</td>
            <td>Binx</td>
            <td>Rescuer</td>
            <td>adopted 11/14/20</td>
          </tr>
          <tr>
            <td>11/3/2020</td>
            <td>Emily</td>
            <td>Rescuer</td>
            <td>adopted 11/24/20</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>