// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);

$goldish: rgb(238,218,123);
$greenish: #11a50f;
$greenish-800: rgb(72, 113, 27);
$greenish-500: #76980d75;

$body-bg:                   $goldish;
// Footer
$footer-bg:                 $greenish;

$main-inset:  0 23px;

