<div class="container main-container">

  <article>
    <div class="row">
      <a name="luca">
      <h2>Dante finds home quickly</h2></a>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <p>
          Dante, now known as Ollie, was rescued from a cat-hoarding situation in Cocke County, T, along with his sister, Dove. Within 24 hours of arriving in Nashville, he had charmed "Ms. M" and they are now lving their happiest and best life! We love these new love connections.
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="">
         <img src="assets/img/dante-adopt1.jpeg" class="img-fluid float-right normal" alt="Ollie">
        </div>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <a name="luca">
      <h2>Luca and Heidi's patient wait pays off!</h2></a>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <p>Heidi and Luca are a bonded pair who were not nurtured in a forever home. After they were rescued from the garage in which they lived for about 4 years, Heidi hid for a week and then tried to escape by climbing up the chimney! She was absolutely terrified. Luca came around much more quickly. He loved to get scritches and to sit by his foster mom when she read or crafted.</p>
        <p>They waited for almost a year and a half. And we were beginning to think that perhaps they would be "fosters" forever.  And then... a wonderful lady reached out, saying she was ready to rescue two adult cats who needed a family. And she wanted Heidi and Luca!!!!
        </p>
        <p>She and her boyfriend adopted these lucky cats on the spot on June 29, 2019! The love was mutual, as evidenced by how quickly Heidi adjusted to her new home: she hid for less than 24 hours! Then she came out and wanted loving and scritches! Heidi and Luca are now living their best life and we could not be happier with the happily-ever-after ending!</p>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="">
         <img src="assets/img/luca-heidi-home.jpeg" class="img-fluid float-right normal" alt="Heidi, Luca settle in">
        </div>
      


        <div class="">
         <img src="assets/img/luca-home.jpeg" class="img-fluid float-right normal" alt="Luca with his new toy">
       </div>

        <div class="">
         <img src="assets/img/heidi-luca-home.jpeg" class="img-fluid float-right normal" alt="Heidi relaxes very soon in her new home">
        </div>
      </div>
    </div>
  </article>

  <article>
  <div class="row">
    <a name="jewel">
    <h2 class="">Jewel beats death for forever home!</h2></a>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
<p>In November of 2017, we got word that a beautiful but very sick tortie was at a local shelter but was going to be euthanized soon. She'd been seen twice by the vets but her vomiting, diarrhea, and weight loss continued.</p>

<p>Sam and I had 21 years with a little tortie named Francine. She was the light of our lives. We just knew we couldn't let this young tortie be put to sleep.</p>

<p>So, one day during my lunch break, I rushed up to the shelter, pulled her out, and took her straight to the vet down the road. For some reason, the name Jewel popped into my head and that became her name.</p>

<p>She had many vet visits and was put on multiple medications but nothing worked. She just got sicker.</p>

<p>Finally, the vet and I were at our wit's end, and we thought this pretty girl was at her end, too. The vet said: "I don't know what else to do. We can't find anything wrong. Would you be willing, if I taught you, to take home a bag of fluids and give them to her subQ?  I said yes because I would do anything to see this girl perk up and have hope.</p>

<p>Within 48 hours, she was a different cat! She showed interest in life and food and attention!</p>

<p>A few days later, she was playing ping pong with my nieces!</p>

<h3>Fostering Saves Lives!</h3>

<p>All Jewel needed was some support and time. And that's exactly what fostering does.</p>

<p>In January 2018, Jewel found her forever home. She now has two boys to play with (because she LOVES ping pong balls) and is living the life of a queen!</p>

<p>We are thankful for the awesome family that adopted her and we wish them a very long and happy life together!</p>
    </div>
  
  
    <div class="col-xs-12 col-md-4">
     <div class="">
       <img src="assets/img/jewel-forever.JPG" class="img-fluid float-right normal" alt="Jewel going to her forever home!">
     </div>
       <div class=""> 
         <img src="assets/img/jewel-sick.JPG" class="img-fluid float-right normal" alt="Jewel wasn't getting better.">
       </div>
       
       <div class=""> 
         <img src="assets/img/jewel-kit.JPG" class="img-fluid float-right normal" alt="Tools to keep Jewel alive.">
       </div>
    </div>
  </div>
  </article>
  
</div>