<p>In November of 2017, we got word that a beautiful but very sick tortie was at a local shelter but was going to be euthanized soon. She'd been seen twice by the vets but her vomiting, diarrhea, and weight loss continued.</p>

<p>Sam and I had 21 years with a little tortie named Francine. She was the light of our lives. We just knew we couldn't let this young tortie be put to sleep.</p>

<p>So, one day during my lunch break, I rushed up to the shelter, pulled her out, and took her straight to the vet down the road. For some reason, the name Jewel popped into my head and that became her name.</p>

<p>She had many vet visits and was put on multiple medications but nothing worked. She just got sicker.</p>

<p>Finally, the vet and I were at our wit's end, and we thought this pretty girl was at her end, too. The vet said: "I don't know what else to do. We can't find anything wrong. Would you be willing, if I taught you, to take home a bag of fluids and give them to her subQ?  I said yes because I would do anything to see this girl perk up and have hope.</p>

<p>Within 48 hours, she was a different cat! She showed interest in life and food and attention!</p>

<p>A few days later, she was playing ping pong with my nieces!</p>

<h3>Fostering Saves Lives!</h3>

<p>All Jewel needed was some support and time. And that's exactly what fostering does.</p>

<p>In January 2018, Jewel found her forever home. She now has two boys to play with (because she LOVES ping pong balls) and is living the life of a queen!</p>

<p>We are thankful for the awesome family that adopted her and we wish them a very long and happy life together!</p>

