<div class="container main-container">

  <div class="container-fluid">
    <div class="row">
      <div *ngIf="id; then Articles else Articles" class="article"></div>
  <ng-template #Articles>
    <section style="min-height:50em" class="col-md-8 multi">
      <div class="article--timeline">
        <article *ngFor="let article of articles.data">

          
          <div class="article-thumbnail--title row">
            <div class="row">
              <h2><a routerLink="/article/{{ article.id }}">{{ article.attributes.title }}</a></h2>
              
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <p>{{ article.summary }}</p>
                
              </div>
              <aside class="col-xs-12 col-md-4">
                <img src="" class="img-fluid float-right normal">
                <img src="{{ host + included[0].attributes.image_style_uri.thumbnail }}" class="rounded img-responsive img-fluid float-right normal">
              </aside>
            </div>
              
        </div>
        <hr>
        </article>
      </div>
    </section>
  </ng-template>


    </div>
  </div>
</div>