<div class="container main-container">

  <div class="container-fluid">
    <div class="row">
      <div *ngIf="id; then Article else Articles" class="article"></div>
        <ng-template #Articles>
          <section style="min-height:50em" class="col-md-8 multi">
            <div class="article--timeline">
              <article *ngFor="let article of articles.data; let i = index;">
                <div class="row">
                  <div class="article-thumbnail--title col-xs-12 col-sm-2">
                    <img src="{{ articles.included[i].attributes.image_style_uri[2].thumbnail }}" class="rounded img-responsive img-fluid">
                  </div>
                  <div class="col-xs-12 col-sm-10">
                  <div class="row">
                    <h2 class="col-xs-12 "><a routerLink="/successes/{{ article.id }}">{{ article.attributes.title }}</a>
                    </h2>
                    <div class="col-xs-12 col-md-8">
                      <p>{{ article.attributes.body.summary }}</p>
                      
                    </div>
                  </div>
                  
                  </div>
                 </div>
                 <hr>
               </article>     
              </div>
              
             </section> 
        </ng-template>
        <ng-template #Article>
          <section class="col-md-8 multi">
            <div class="article--timeline">
              <div class="row">
                <div class="article col-xs-12">
                  
                  <div *ngFor="let image of article.included;">
                    <div class="col-xs-12">
                      <img src="{{ image.attributes.image_style_uri[0].large }}" >
                    </div>
                  </div>
                  <h1>{{ article.data.attributes.title}}
                  </h1>
                  <div class="col-xs-12" [innerHtml]="article.data.attributes.body.processed">
                      
                  </div>
                    
                </div>
              </div>
            </div>
          </section>
        </ng-template>

    </div>
  </div>
</div>