<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="offset-sm-1 col-xs-12 col-sm-8 col-md-7">
      <h1>Meet Luca and Heidi</h1>
      <p>Heidi and Luca are a bonded pair of cats who, in the past, have had only each other for comfort and companionship. For that reason, they will be adopted out together.</p>

      <p>Heidi (female red tabby) and Luca (black shiny boy) are about 5 years old. They like to play but are even happier just enjoying the warm sunshine in a window, watching birds, and snuggling with you while you read or watch TV.</p>

      <p>These two snugglepusses were originally adopted as kittens to be garage/shop cats but the owner found he didn’t have the time for them when he retired. They missed being with their people and love so much spending time as inside-only kitties with their foster mom. It's like retirement for them, too. </p>

      <p>They are spayed/neutered and current on shots. They've tested negative for FIV/FeLV. If you're looking for two really great, calm, and very low-maintenance kitties, these two angels are waiting to meet you!</p>

      <p>Our adoption process consists of a meet and greet, completed adoption application and a small adoption fee. Want more information about these two cuties? Email me today: <a href="mailto:becky@bentwhiskerranch.org">-bw</a></p>
    </div>

    <div class="col-sm-3 col-md-4">
     <div class="container">
     <div class="row">
       <div class="col-sm-12 col-md-10 col-lg-5">
      <img class="img-fluid float-right normal" src="assets/img/heidi-glam1.jpg" alt="Heidi is looking for a home." >
      </div>
      
      
      <div class="col-sm-12 col-md-10 col-lg-5">
      <img class="img-fluid float-right normal" src="assets/img/luca-glam1.jpg" alt="Luca looking for a home.">
      </div>

      </div>
    </div>
  </div>
  </div>
  <div class="boiler">
    <div class="row">
      
    
    <div class="col">
      Bent Whisker is named for the older animals, particularly cats 
      who have to fend for themselves and live the 
      rough life, as evidenced by how some of their
      whiskers end up getting bent for reasons house-bound
      animals do not.
    </div>   
  </div>
  <div class="row">
    <div class="col">
      <h3>
        Our mission
      </h3>
      <p>... is to rescue animals from harmful, negligent, and lonely situations; foster and nurture them into happiness and self-confidence; and place them in loving, responsible permanent homes.</p>

      <p>We are also committed to educating others about animal welfare issues, including the need to spay and neuter companion animals.</p>
      </div>
    </div>
   </div>
</div>


<app-footer></app-footer>
<router-outlet></router-outlet>
