     <div class="row">

      <div class="col-sm-12"><a href="/adopt">
        <img class="img-fluid float-right normal" src="assets/img/dove-mug.jpeg" alt="Dove mug" ></a>
        <a href="/adopt"><span>Dove rescued from hoarding</span></a>
      </div>

      <div class="col-sm-12"><a href="/adopt">
        <img class="img-fluid float-right normal" src="assets/img/mayhem-chip-easter.jpeg" alt="Chip Easter outfit" ></a>
        <a href="/adopt"><span>Chip looking for a home</span></a>
      </div>
      <div class="hr1"></div>

      <div class="col-sm-12"><a href="/donate#amazon">
        <img class="img-fluid float-right normal" src="assets/img/Amazon_Smile_logo-700x170.png" alt="Amazon wish list"></a>
        <span>You and Amazon can help</span>
      </div>
      <div class="hr1"></div>

      <div class="col-sm-12"><a href="/successes">
        <img class="img-fluid float-right normal" src="assets/img/mayhem-chuck-easter.jpeg" alt="Chuck found a home." ></a>
        <a href="/successes#chuck"><span>Chuck found a home!</span></a>
      </div>
      
      

    </div>