<div class="amz">
  <a name="amazon"><h2>How you and Amazon can help</h2></a>
  <p>Help directly by purchasing items from our <a href="https://www.amazon.com/hz/wishlist/ls/2LFQ08HDKK7NE?ref_=wl_share">Amazon Wish List</a>. Add them to your shopping cart and they will be shipped directly to help the critters.</p>
  <p>One friend added this water fountain from our Wish List and is now enjoyed by our kittens while they are looking for a home</p>
  <img src="assets/img/bw_amz_fountain.jpeg" class="img-fluid float-right normal" alt="Chip, Chuck enjoying a new water fountain">
  <p>If you're able to do so, <strong>you can choose us as your charity under smile.amazon.com</strong>. Amazon will donate a small amount from your purchases and will not add to your charges.</p>
</div>
