<div class="amz">
  <a name="amazon"><h2>How you can help with our needs through Amazon</h2></a>
  <p>Help directly by purchasing items from our <a href="https://www.amazon.com/hz/wishlist/ls/2LFQ08HDKK7NE?ref_=wl_share">Amazon Wish List</a>. Add them to your shopping cart and they will be shipped directly to help the critters.</p>
  <p>One friend added this water fountain from our Wish List and is now enjoyed by our kittens while they are looking for a home</p>
  <img src="assets/img/bw_amz_fountain.jpeg" class="img-fluid float-right" alt="Chip, Chuck enjoying a new water fountain">
</div>
