<div class="d-flex flex-row main-container">
  <div class="flex-sm-column mr-auto">
    <p>Bent Whisker Ranch is a 501(c)3 organization whose mission is to treat and foster older cats and we need your help. We always need cat food and litter, but also other items for the care of those we care. For gifts in kind contact us for information.</p>
    <p>Coming soon, a place where you can give securely with your credit card.</p>
  </div>
  <form action="" method="POST" id="payment-form" (submit)="getToken()">
  <span class="payment-message">{{message}}</span>

  <div class="form-row">
    <label>
      <span>Name on credit card</span>
      <input [(ngModel)]="name" name="name" type="text" size="20">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Address (card statements sent)</span>
      <input [(ngModel)]="address1" name="address1" type="text" size="20">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Donation amount</span>
      <input [(ngModel)]="amount" name="amount" type="text" size="20">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Name on credit card</span>
      <input [(ngModel)]="zip" name="zip" type="text" size="20">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input [(ngModel)]="cardNumber" name="card-number" type="text" size="20" data-stripe="number">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YY)</span>
      <input [(ngModel)]="expiryMonth" name="expiry-month" type="text" size="2" data-stripe="exp_month">
    </label>
    <span> / </span>
    <input [(ngModel)]="expiryYear" name="expiry-year" type="text" size="2" data-stripe="exp_year">
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input [(ngModel)]="cvc" name="cvc" type="text" size="4" data-stripe="cvc">
    </label>d
  </div>

  <input type="submit" value="Submit Payment">
</form>
</div>
