<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p>Bent Whisker Ranch is a 501(c)3 organization whose mission is to treat and foster older cats and we need your help. We always need cat food and litter, but are many other costs associated with animal care. For gifts in kind contact us for information.</p>

    </div>
  </div>
      
  <div class="row">

    <div class="col-9">
      
      <p>Donations made here are secure and encrypted. No card numbers are stored on this site.</p>
      <p>You will receive an acknowledgement to the email address you provide.</p>
      <span class="valid-feedback">{{message}}</span>
      <form #f="ngForm" name="donationForm" (ngSubmit)="f.form.valid && getToken(f)" id="donateForm" novalidate >

      
      <div [hidden]="f.submitted">

        <div class="form-group">
          <label for="name">Name on credit card</label>
            <input type="text" id="name" name="name" class="form-control form-control-sm" [(ngModel)]="donation.name" #name="ngModel"  required> 
          
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger">
              <div *ngIf="name.errors?.required">Name on credit card is required.</div>
            </div>
        </div>
        
        <div class="form-group">
          <label for="address1">Address (where card statements sent)</label>
            <input  #address1="ngModel" name="address1"  type="text" class="form-control form-control-sm" id="address1" [(ngModel)]="donation.address1" required>
          <div *ngIf="address1.invalid && (address1.dirty || address1.touched)"
                class="alert alert-danger">
              
            <div *ngIf="address1.errors?.required">Address is required.</div>
          </div>
        </div>
 
        <div class="row no-gutters">
          <div class="col-6">
            <label for="city">City</label>
            <input #city="ngModel" [(ngModel)]="donation.city" name="city" type="text" class="form-control form-control-sm" id="city">
          </div>
        
          <div class="col-2">
            <label for="state">state</label>
            <input #state="ngModel"  [(ngModel)]="donation.state" name="state" type="text" class="form-control form-control-sm" id="state">
          </div>
        </div>

        <div class="form-group">
          <label for="zip">Zip code</label>
            <input #zip="ngModel" [(ngModel)]="donation.zip" name="zip" type="text" class="form-control form-control-sm" id="zip" required>
            <div *ngIf="zip.invalid && (zip.dirty || zip.touched)"
            class="alert alert-danger">
             <div *ngIf="zip.errors?.required">Billing zip code is required.</div>
           </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input #email="ngModel" [(ngModel)]="donation.email" name="email" type="text" class="form-control form-control-sm" id="email" required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
            <div *ngIf="email.errors?.required">Name on credit card is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="amount">Donation amount</label>
          <input #amount="ngModel" [(ngModel)]="donation.amount" name="amount" placeholder="Whole dollar amount please" type="text" class="form-control form-control-sm" id="amount" required pattern="^(0|[1-9][0-9]*)$">
          <div *ngIf="amount.invalid && (amount.dirty || amount.touched)"
              class="alert alert-danger">
            
            <div *ngIf="amount.errors?.required">Please enter the amount of your donation.</div>
            <div *ngIf="amount.errors?.pattern">Please enter a dollar amount of your donation. No need for $.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="reason">Additional note</label>
            <input #reason="ngModel" [(ngModel)]="donation.reason" name="reason" type="text" class="form-control form-control-sm" id="reason">
        </div>

        <div class="form-group">
          <label for="cardNumber">Card Number</label>
            <input #cardNumber="ngModel" [(ngModel)]="donation.cardNumber" name="cardNumber" type="text" class="form-control form-control-sm" id="cardNumber" data-stripe="number" required>
            <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
              class="alert alert-danger">
              <div *ngIf="cardNumber.errors?.required">Credit card is required.</div>
            </div>
        </div>

        <div class="form-group">
          <div class="row no-gutters">
            <label for="expiry" class="col-5">Expiration: (MM/YY)</label>
            
            <label for="cvc" class="col-1">CVC</label>
          </div>
          <div class="row">
            <div class="col-2">
              
                <input #expiryMonth="ngModel" [(ngModel)]="donation.expiryMonth" name="expiryMonth" type="text" class="form-control form-control-sm" placeholder="MM" id="expiryMonth" data-stripe="exp_month" required>
                <div *ngIf="expiryMonth.invalid && (expiryMonth.dirty || expiryMonth.touched)"
              class="alert alert-danger">
                  <div *ngIf="expiryMonth.errors?.required">Card expiration month is required.</div>
                </div>
            </div>     
            <div style="width: 10px;">
                  <span> / </span>
            </div>
         
            <div class="col-2">
              <input #expiryYear="ngModel" [(ngModel)]="donation.expiryYear" name="expiryYear" type="text"  data-stripe="exp_year" placeholder="YY" class="form-control form-control-sm" required>
              <div *ngIf="expiryYear.invalid && (expiryYear.dirty || expiryYear.touched)"
              class="alert alert-danger">
                <div *ngIf="expiryYear.errors?.required">Card expiration year is required.</div>
              </div>
            </div>
          
        
            <div class="col-2">
              
              <input #cvc="ngModel" [(ngModel)]="donation.cvc" placeholder="CVC" name="cvc" type="text"  id="cvc" class="form-control form-control-sm" data-stripe="cvc" required minlength="3">
              <div *ngIf="cvc.invalid && (cvc.dirty || cvc.touched)"
              class="alert alert-danger">
                <div *ngIf="cvc.errors?.required">Address verification code on credit card is required.</div>
                <div *ngIf="cvc.errors?.minlength">Address verification code on credit card has at least three characters</div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div *ngIf="results" class="message-success offset-bottom">
          <span class="results-message">{{results}}</span>
      </div>

        <div class="form-group">
         <!--  <input type="submit" value="Submit Donation"> -->
         
         <button type="submit" [disabled]="f.invalid" (click)="SendDonateEvent()">Submit donation</button>
        </div>

      
      </form>
    
    </div>
      <div class="col sidebar-home">
        
          <app-amzwish></app-amzwish>
          <app-walmart></app-walmart>
          <app-chewy></app-chewy>
        
      </div>

  </div>

</div>
