<div class="d-flex flex-row main-container">
  <div class="flex-sm-column mr-auto">
    <p>Bent Whisker Ranch is a 501(c)3 organization whose mission is to treat and foster older cats and we need your help. We always need cat food and litter, but also other items for the care of those we care. For gifts in kind contact us for information.</p>
    <p>Coming soon, a place where you can give securely with your credit card.</p>
  </div>
  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
      <label for="card-info">Card Info</label>
      <div id="card-info" #cardInfo></div>

      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>

    <button type="submit">Pay $777</button>
  </form>

</div>
