/* You can add global styles to this file, and also import other style files */

@import '../src/styles/_colors';
@import '../node_modules/bootstrap/scss/bootstrap';


html body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: rgba(238,218,123,1.00)!important; }

nav.bg-primary {
  background-color: rgba(72, 113, 27,1.00)!important; }

header, footer{
    padding: $main-inset;
  }

nav.navbar {
  margin-bottom: $pagination-padding-x;
}
img.normal {
  margin: 5px;
}

.boiler {
  background-color: $greenish-500;
  padding: 10px;
  margin: 12px 0px;
}

article h2 {
  margin-top: 25px;
}

  footer {
    background-color: $footer-bg;
  }

  img.none-i {
    color: $white;
  }

  svg.social-i {
    color: $white;
  }

  div.social a img {
    margin: 5px 0;
  }

  .main-container {
    margin: 0 20px;
  }

  .bw-flex-container {
    border: 0 solid green;
    height: auto;
    margin-bottom: 20px;
  }

  .bw-flex-container-column {
    border: 0 solid green;
    height: 200px;
    margin-bottom: 20px;
  }
  .bw-flex-item {
    width: 100%;
  }
  .bw-flex-item-2 {
    background-color: lightgrey;
    border: 1px dotted grey;
    height: 96px;
  }
