
  <div class="container-fluid">
  <div class="row">
    <div class="offset-sm-1 col-xs-12 col-sm-8 col-md-7">
      
      <div ngIf="article">
      <!-- <ng-template #Article> -->
        <article >
          <div class="row">
            <h1 class="col-xs-12">
              {{ article.attributes.title }}
            </h1>
            <div class="col-xs-12 col-md-8">
              {{ article.attributes.body.processed }}
            </div>
          </div>
        </article>
      <!-- </ng-template> -->
      
    </div>
<span>Heck, jars</span>
    <div class="col-sm-2 col-md-3 sidebar-home">
     <div class="container">

       <app-sidebar></app-sidebar>

    </div>
  </div>
  <div class="col-sm-1">
    
  </div>
  </div>
  <div class="boiler">
    <div class="row">
      
    
    <div class="col">
      Bent Whisker xxxx.
    </div>   
  </div>
  <div class="row">
    <div class="col">
      <h3>
        Our mission
      </h3>
      <p>... is to rescue animals from harmful, negligent, and lonely situations; foster and nurture them into happiness and self-confidence; and place them in loving, responsible permanent homes.</p>

      <p>We are also committed to educating others about animal welfare issues, including the need to spay and neuter companion animals.</p>
      </div>
    </div>
  </div>
</div>

