
  <div class="container-fluid">
  <div class="row">
    <div class="offset-sm-1 col-xs-12 col-sm-8 col-md-7">
      
      <div *ngIf="articles then Articles"></div>
      <ng-template #Articles>
        
          <div class="row">
            <article *ngFor="let article of articles.data;">
              
            
            <h1 class="col-xs-12">
              {{ article.attributes.title }}
            </h1>
            <div class="col-xs-12 col-md-8" [innerHtml]="article.attributes.body.processed">
            </div>
            </article>  
            
          </div>
        
      </ng-template>
    </div>  
    

    <aside class="col-sm-3 col-xs-12 col-md-3 sidebar-home">
      <div class="container">

       <app-sidebar></app-sidebar>

      </div>
    </aside>
  <div class="col-sm-1">
    
  </div>
  </div>

</div>

