<div class="container-fluid">
  <div class="row">
    <div class="offset-sm-1 col-xs-12 col-sm-8 col-md-7">
      <h1>Welcome to Bent Whisker Ranch!</h1>
      <p>We're happy for your visit and are thrilled to share our mission and success stories with you! We've been animal (especially cat) lovers all our lives, so we finally decided to make it official and launch a non-profit dedicated to animal welfare!</p>
      <p>Be sure to visit our Past Success section to see examples of how fostering saves lives!</p>
      <p>Our adoption process consists of a meet and greet, completed adoption application and a small adoption fee. <a href="mailto:becky@bentwhiskerranch.org">bw</a></p>
    </div>
    <aside class="col-sm-3 col-xs-12 col-md-3 sidebar-home">
      <app-sidebar></app-sidebar>
    </aside>
  </div>
</div>